/* simple way to reset your css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* to make a space between nav and rest of items */
body {
  margin-top: 100px;
}

/* all li without disc */
ul {
  list-style: none;
}

nav {
  background-color: hsl(208, 96%, 49%);
  height: 50px;
  width: 100%;
}

/* make nav fixed to top */
nav {
  position: fixed;
  /* place it top of page */
  top: 0;
  /* place it higher than other items */
  /* try to comment this and then scroll down the page
  so nav is over the image then hover mouse over the image,
  what happens? */
  z-index: 10;
}

/* using inline-block to make items (a) in a row and accept width and height*/
nav a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2em;
  color: white;
  width: 20%;
  /* occupy full width of the parent */
  height: 100%;
  /* give padding to make text vertical aligned */
  /* you could try vertical-align: middle; */
  padding: 10px;
}

nav a:hover {
  background-color: hsl(208, 96%, 75%);
}

/* using flexbox on the parent element instead of inline-block on each child */
nav {
  display: flex;
  justify-content: space-around;
  /* also to align them vertically */
  align-items: center;
}

nav div {
  font-size: 1.2em;
  color: white;
  width: 15%;
  height: 100%;
  padding: 10px;
}

nav div:hover {
  background-color: hsl(208, 96%, 75%);
}

/* general margin top and bottom = 30px with left and right = 0 */
section {
  margin: 30px 0;
}

#hero-section {
  /* easy way to make all children element centred */
  display: grid;
  place-items: center;
  /* occupy 90% of viewport */
  height: 90vh;
  background-color: hsl(239, 96%, 9%);
  /* just to override the general margin we gave to all sections */
  margin-top: 0;
  margin-bottom: 50px;
  /* hiding whatever element that might be bigger than its parent so it doesn't go outside */
  overflow: hidden;
}

#hero-image {
  width: 80%;
  max-height: 100%;
}

/* try to comment/uncomment one of this hover properties and experiment
    also comment hero-section height and overflow and notice what happens in each case
*/

#hero-image:hover {
  /* width: 140%; */

  /* tha best way to change size based on events because it
  doesn't effect the layout and better performance */
  transform: scale(1.1);
}

/*###### about section #######*/

#about-container {
  display: flex;
  justify-content: space-around;
}

.about-div {
  width: 40%;
}

.about-div h2 {
  margin: 30px 0;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

.about-div {
  line-height: 25px;
  color: hsl(0, 0%, 33%);
}

/*######## footer ##########*/

footer {
  display: flex;
  justify-content: space-around;
  height: 200px;
  margin-top: 50px;
  padding: 40px;
  background-color: hsl(0, 0%, 11%);
  /* notice the color is same as above except lightness */
  color: hsl(0, 0%, 75%);
  font-size: 1.2em;
}
